<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/estilos.css}">
    <title>Eventos</title>
</head>
<body>
    <h1 th:text="${eventoForm.id}?'Editar evento':'Añadir evento'"></h1>
    <form action="/agregar" method="post" th:object="${eventoForm}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <p>
            <label for="nombre">Nombre: </label>
            <input type="text" id="nombre" th:field="*{nombre}" />
            <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="mensaje mensaje_error"></div>
        </p>
        <p>
            <input type="checkbox" th:field="*{completada}" id="completada"/>
            <label for="completada"> Completada</label>
        </p>
        <p>
            <label>Foto del cartel: </label>
            <input type="file" th:field="*{cartel}">
        </p>
        <p th:if="${eventoForm.rutaCartel}" style="display: flex; align-items: center; justify-content: center;">
            <span>Cartel actual: </span>
            <img th:src="@{/carteles/{ruta}(ruta=${eventoForm.rutaCartel})}" alt="Foto cartel" style="max-width: 120px; max-height: 120px;">
        </p>
        <button type="submit">Enviar</button>
        <button type="reset">Borrar</button>
    </form>
</body>
</html>