<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/estilos.css}">
    <title>Ejercicio 3</title>
</head>
<body>
    <h1>Eventos posibles</h1>
    <a th:href="@{/add(nombre='Cumpleaños de un amigo')}">Cumpleaños de un amigo</a><br/>
    <a th:href="@{/add(nombre='Fiesta de disfraces')}">Fiesta de disfraces</a><br/>
    <a th:href="@{/add(nombre='Festival en el centro')}">Festival en el centro</a><br/>
    <a th:href="@{/add(nombre='Ir al cine')}">Ir al cine</a>
    <h1>Lista de eventos</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Borrar</th>
        </tr>
        <tr th:each="e, iterador : ${eventos}">
            <td th:text="${iterador.index+1}"></td>
            <td th:text="${e.nombre}"></td>
            <td th:text="${e.completada}"></td>
            <td><a th:href="@{/delete/{id}(id=${e.id})}"><button>Eliminar</button></a></td>
        </tr>
    </table>
</body>
</html>