body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
table{
    justify-self: center;
    width: 70%;
    border-collapse: collapse;
}
td{
    width: 14%;
}
th{
    width: 14%;
    background-color: rgb(72, 98, 247);
    color: white;
}
tr{
    border-bottom:1px solid black;
    height: 50px;
}
.tr_completada{
    background-color: rgb(192, 248, 192);
}
#campo_mensaje{
    justify-self: center;
    background-color: rgb(250, 216, 129);
    padding: 20px 0px;
    border-radius:15px;
    margin: 20px;
    width: 70%;
}
#filtro_nombre{
    width: 200px;
}
p{
    justify-self: center;
    width: 600px;
}
h2{
    margin-top:70px;
}
form{
    margin-bottom: 70px;
}
button{
    justify-self: center;
    padding:10px 50px;
}
.button{
    padding: 10px 50px;
    border: 1px solid black;
    background-color:#F0F0F0 ;
    text-decoration: none;
    margin-left: 10px;
    color: black;
}
.button:hover{
    background-color: #E5E5E5;
}
#contenedor_submit{
    display: flex;
    justify-content: center;
}
.mensaje{
    width: fit-content;
    padding: 15px 30px;
    border-radius: 15px;
    justify-self: center;
    margin-bottom: 20px;
}
.mensaje_error{
    background-color: rgb(255, 112, 93);
}
.mensaje_confirmacion{
    background-color: rgb(126, 232, 126);
}